header {
    height: 50px;
    text-align: right;
    font-style: italic;
    border: darkblue solid 1px;
    background: #bcbe97;
    margin: 10px 0;
    padding: 10px 10px;
}
.container {
    width: 80%;
    Background: #fff;
    margin: auto;
    padding: 1px;
}
.menu {
    border: darkblue solid 5px;
    width: 85%;
    margin: 5px 0 5px 0;
    padding: 5px;
    float: right;
    /*overflow: hidden;*/
    }
.content {
    text-align:justify;
    border: darkblue solid 1px;
    padding: 20px;
}
nav {
    margin: 5px 5px;
    padding: 10px;
    border: forestgreen solid 5px;
    background: url('img/background11.png');
    width: 10%;
    height: 538px;
    float: left;
    overflow: hidden;
   }
footer {
    margin: 20px 0;
    padding: 10px;
    height: 40px;
    border: darkblue solid 5px;
    text-align: center;
    background: #f2f2f2;
    background: url('img/background28.jpg');
    clear: both;
}
.contact-form {
    width: 85%;
    padding: 5px;
    border: forestgreen solid 5px;
    margin: 5px 0;
    float: right;
    overflow: hidden;
}
.body_background {
    background: #e5e5e5;
}
.h1 {
    width: 200px;
    /*float: right;*/
    border: black solid 5px;
    padding: 5px;
    overflow: hidden;
}
.text {
    text-align: justify;
}